<!DOCTYPE html>
<html>
<body>

    <h1>Resume</h1>
    <h2>Matt Boubin - mjb9353</h2>

    {% for key, value in text.items %}
        {% if key == 'header' %}
            <h1>Software Engineer</h1>
        {% else %}
            <h2>{{ key }}</h2>
        {% endif %}
        {% if key == 'Experience' %}
            {% for bull in text.Experience %}
                {% if 'Engineer' in bull or 'eveloper' in bull %}
                    </ul>
                    <h3>{{bull}}</h3>
                    <ul>
                {% else %}
                    <li>{{bull}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <p>{{ value }}</p>
        {% endif %}
    {% endfor %}

    <br>
    <br>
    <p><a href="{% url 'convert:output' %}">Go Back</a></p>

</body>
</html>